node-red-flow/flows .json
[
    {
        "id": "bcb7bae54df0102d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a72f219c808b5a29",
        "type": "mqtt out",
        "z": "bcb7bae54df0102d",
        "name": "esp32/led1",
        "topic": "/ThinkIOT/RELAY1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33ab7a5e0dd9c494",
        "x": 1550,
        "y": 840,
        "wires": []
    },
    {
        "id": "fbb5045783a9aa7a",
        "type": "ui_switch",
        "z": "bcb7bae54df0102d",
        "name": "quạt ",
        "label": "quạt",
        "tooltip": "",
        "group": "adc778f5e4243e3c",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "manual/esp32/led1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1170,
        "y": 1220,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "91d2ced38d4a2978",
        "type": "ui_switch",
        "z": "bcb7bae54df0102d",
        "name": "tưới ",
        "label": "tưới ",
        "tooltip": "",
        "group": "adc778f5e4243e3c",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "manual/esp32/led2",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1170,
        "y": 1260,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "6d141e4f64b89302",
        "type": "ui_switch",
        "z": "bcb7bae54df0102d",
        "name": "đèn ",
        "label": "đèn ",
        "tooltip": "",
        "group": "adc778f5e4243e3c",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "manual/esp32/led3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1170,
        "y": 1300,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "d703356a2d07fcdd",
        "type": "ui_switch",
        "z": "bcb7bae54df0102d",
        "name": "bơm",
        "label": "bơm ",
        "tooltip": "",
        "group": "adc778f5e4243e3c",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "/ThinkIOT/RELAY4",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1170,
        "y": 1340,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "5ef640f3d479e012",
        "type": "mqtt out",
        "z": "bcb7bae54df0102d",
        "name": "esp32/led2",
        "topic": "/ThinkIOT/RELAY2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33ab7a5e0dd9c494",
        "x": 1550,
        "y": 880,
        "wires": []
    },
    {
        "id": "a69da52f8de56298",
        "type": "mqtt out",
        "z": "bcb7bae54df0102d",
        "name": "esp32/led3",
        "topic": "/ThinkIOT/RELAY3",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33ab7a5e0dd9c494",
        "x": 1550,
        "y": 940,
        "wires": []
    },
    {
        "id": "5283e9b15c35f008",
        "type": "mqtt out",
        "z": "bcb7bae54df0102d",
        "name": "/ThinkIOT/RELAY4",
        "topic": "/ThinkIOT/RELAY4",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33ab7a5e0dd9c494",
        "x": 1570,
        "y": 980,
        "wires": []
    },
    {
        "id": "bc3807b81be242d6",
        "type": "mqtt in",
        "z": "bcb7bae54df0102d",
        "name": "nhiệt độ ",
        "topic": "esp32/sensor/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ab7a5e0dd9c494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 860,
        "wires": [
            [
                "0d31664a81d05b42",
                "b984ed503db054e8"
            ]
        ]
    },
    {
        "id": "699f1349d73f574f",
        "type": "mqtt in",
        "z": "bcb7bae54df0102d",
        "name": "độ ẩm ",
        "topic": "esp32/sensor/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ab7a5e0dd9c494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "4f8a38d461b3cf2b"
            ]
        ]
    },
    {
        "id": "b5771c59f5ce114c",
        "type": "mqtt in",
        "z": "bcb7bae54df0102d",
        "name": "ánh sáng",
        "topic": "esp32/sensor/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ab7a5e0dd9c494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 920,
        "wires": [
            [
                "874430f489ca72c5",
                "828ea5e72e187de9"
            ]
        ]
    },
    {
        "id": "e7e8b3a9a5d1431c",
        "type": "mqtt in",
        "z": "bcb7bae54df0102d",
        "name": "độ ẩm đất",
        "topic": "esp32/sensor/soil",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ab7a5e0dd9c494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "ef7195e416d7d012",
                "1a4e6abb13f8f6c3"
            ]
        ]
    },
    {
        "id": "0d31664a81d05b42",
        "type": "ui_gauge",
        "z": "bcb7bae54df0102d",
        "name": "nhiệt độ ",
        "group": "7ec2ba03680f8ac1",
        "order": 4,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "nhiệt độ ",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 900,
        "wires": []
    },
    {
        "id": "4f8a38d461b3cf2b",
        "type": "ui_gauge",
        "z": "bcb7bae54df0102d",
        "name": "độ ẩm ",
        "group": "7ec2ba03680f8ac1",
        "order": 5,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "độ ẩm",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 780,
        "wires": []
    },
    {
        "id": "874430f489ca72c5",
        "type": "ui_gauge",
        "z": "bcb7bae54df0102d",
        "name": "ánh sáng",
        "group": "7ec2ba03680f8ac1",
        "order": 6,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "ánh sáng",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ef7195e416d7d012",
        "type": "ui_gauge",
        "z": "bcb7bae54df0102d",
        "name": "độ ẩm đất ",
        "group": "7ec2ba03680f8ac1",
        "order": 7,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "độ ẩm đất ",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 840,
        "wires": []
    },
    {
        "id": "b984ed503db054e8",
        "type": "function",
        "z": "bcb7bae54df0102d",
        "name": "Temperature Function",
        "func": "// Lấy giá trị nhiệt độ từ payload\nlet temperature = parseFloat(msg.payload);\n\n// Kiểm tra chế độ hiện tại (tự động hay thủ công)\nconst controlMode = flow.get(\"controlMode\") || \"manual\";\n\n// Chỉ xử lý nhiệt độ nếu đang ở chế độ tự động\nif (controlMode === \"auto\") {\n    // Ngưỡng nhiệt độ để bật quạt\n    const threshold = 32;\n    \n    // Kiểm tra nhiệt độ và quyết định bật/tắt relay\n    if (temperature > threshold) {\n        msg.payload = false;  // Bật quạt (relay OFF trong trạng thái NC)\n    } else {\n        msg.payload = true; // Tắt quạt (relay ON trong trạng thái NC)\n    }\n    \n    // Gửi lệnh đến topic điều khiển relay\n    msg.topic = \"esp32/led1\";\n    return msg;\n} else {\n    // Ở chế độ thủ công, không làm gì cả, để các nút điều khiển thủ công xử lý\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 960,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "1a4e6abb13f8f6c3",
        "type": "function",
        "z": "bcb7bae54df0102d",
        "name": "Soil Function",
        "func": "// Lấy giá trị độ ẩm đất từ payload\nlet soilMoisture = parseFloat(msg.payload);\n\n// Kiểm tra chế độ hiện tại (tự động hay thủ công)\nconst controlMode = flow.get(\"controlMode\") || \"manual\";\n\n// Chỉ xử lý nếu đang ở chế độ tự động\nif (controlMode === \"auto\") {\n    // Ngưỡng độ ẩm đất để bật bơm\n    const threshold = 2000; // Điều chỉnh theo nhu cầu của bạn\n    \n    // Kiểm tra độ ẩm đất và quyết định bật/tắt bơm\n    if (soilMoisture > threshold) { // Đất khô\n        msg.payload = false;  // Bật bơm\n    } else {                  // Đất đủ ẩm\n        msg.payload = true;   // Tắt bơm\n    }\n    \n    // Gửi lệnh đến topic điều khiển bơm\n    msg.topic = \"esp32/led2\";\n    return msg;\n} else {\n    // Ở chế độ thủ công, không làm gì cả\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 920,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "828ea5e72e187de9",
        "type": "function",
        "z": "bcb7bae54df0102d",
        "name": "Light Function",
        "func": "// Lấy giá trị ánh sáng từ payload\nlet lightLevel = parseFloat(msg.payload);\n\n// Kiểm tra chế độ hiện tại (tự động hay thủ công)\nconst controlMode = flow.get(\"controlMode\") || \"manual\";\n\n// Chỉ xử lý nếu đang ở chế độ tự động\nif (controlMode === \"auto\") {\n    // Ngưỡng ánh sáng để bật/tắt đèn\n    const lightThreshold = 300; // Điều chỉnh theo nhu cầu\n    \n    // Tạo thông điệp điều khiển đèn\n    let lightMsg = {\n        topic: \"esp32/led3\",\n        payload: lightLevel < lightThreshold ? \"true\" : \"false\" // Bật khi trời tối, tắt khi sáng\n    };\n\n    // Trả về thông điệp điều khiển đèn\n    return lightMsg;\n} else {\n    // Ở chế độ thủ công, không làm gì cả\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1000,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "4d3b132a5e800b19",
        "type": "ui_switch",
        "z": "bcb7bae54df0102d",
        "name": "Auto/Manual Mode",
        "label": "Tự động",
        "tooltip": "",
        "group": "adc778f5e4243e3c",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "control/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 780,
        "wires": [
            [
                "23130feefcfbd1d3"
            ]
        ]
    },
    {
        "id": "23130feefcfbd1d3",
        "type": "function",
        "z": "bcb7bae54df0102d",
        "name": "Mode Handler",
        "func": "// Lưu chế độ điều khiển vào flow context\nflow.set(\"controlMode\", msg.payload);\n\n// Trả về thông báo để hiển thị chế độ hiện tại\nreturn { payload: \"Chế độ hiện tại: \" + msg.payload };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Khởi tạo mặc định là manual nếu chưa có\nflow.set(\"controlMode\", \"manual\");",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 760,
        "wires": [
            [
                "b65451bbe41f7468"
            ]
        ]
    },
    {
        "id": "b65451bbe41f7468",
        "type": "ui_text",
        "z": "bcb7bae54df0102d",
        "group": "adc778f5e4243e3c",
        "order": 9,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Trạng thái",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1280,
        "y": 760,
        "wires": []
    },
    {
        "id": "f84ceabc0e2c2083",
        "type": "function",
        "z": "bcb7bae54df0102d",
        "name": "Control Router",
        "func": "// Kiểm tra chế độ điều khiển hiện tại\nconst controlMode = flow.get(\"controlMode\") || \"manual\";\n\n// Nếu là tin nhắn từ các nút điều khiển thủ công\nif (msg.topic && msg.topic.startsWith(\"manual/\")) {\n    // Chỉ xử lý nếu đang ở chế độ thủ công\n    if (controlMode === \"manual\") {\n        // Chuyển topic từ manual/... thành topic thiết bị thực tế\n        msg.topic = msg.topic.replace(\"manual/\", \"\");\n        return msg;\n    } else {\n        // Đang ở chế độ tự động, bỏ qua lệnh thủ công\n        return null;\n    }\n}\n\n// Nếu là tin nhắn từ chức năng tự động, chuyển tiếp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 900,
        "wires": [
            [
                "41ec4786d26e02c9"
            ]
        ]
    },
    {
        "id": "41ec4786d26e02c9",
        "type": "switch",
        "z": "bcb7bae54df0102d",
        "name": "Output Splitter",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "esp32/led1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/led2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "esp32/led3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/ThinkIOT/RELAY4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1200,
        "y": 900,
        "wires": [
            [
                "a72f219c808b5a29"
            ],
            [
                "5ef640f3d479e012"
            ],
            [
                "a69da52f8de56298"
            ],
            [
                "5283e9b15c35f008"
            ]
        ]
    },
    {
        "id": "432834981c769994",
        "type": "mqtt in",
        "z": "bcb7bae54df0102d",
        "name": "mực nước",
        "topic": "esp32/sensor/water_level",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ab7a5e0dd9c494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 980,
        "wires": [
            [
                "4b03846371f141f7",
                "7dee6840e05c3368"
            ]
        ]
    },
    {
        "id": "4b03846371f141f7",
        "type": "ui_gauge",
        "z": "bcb7bae54df0102d",
        "name": "mực nước",
        "group": "7ec2ba03680f8ac1",
        "order": 10,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "mực nước",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7dee6840e05c3368",
        "type": "function",
        "z": "bcb7bae54df0102d",
        "name": "watelever",
        "func": "// Lấy giá trị độ ẩm đất từ payload\nlet soilMoisture = parseFloat(msg.payload);\n\n// Kiểm tra chế độ hiện tại (tự động hay thủ công)\nconst controlMode = flow.get(\"controlMode\") || \"manual\";\n\n// Chỉ xử lý nếu đang ở chế độ tự động\nif (controlMode === \"auto\") {\n    // Ngưỡng độ ẩm đất để bật bơm\n    const threshold = 2000; // Điều chỉnh theo nhu cầu của bạn\n    \n    // Kiểm tra độ ẩm đất và quyết định bật/tắt bơm\n    if (soilMoisture > threshold) { // Đất khô\n        msg.payload = false;  // Bật bơm\n    } else {                  // Đất đủ ẩm\n        msg.payload = true;   // Tắt bơm\n    }\n    \n    // Gửi lệnh đến topic điều khiển bơm\n    msg.topic = \"/ThinkIOT/RELAY4\";\n    return msg;\n} else {\n    // Ở chế độ thủ công, không làm gì cả\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1040,
        "wires": [
            [
                "f84ceabc0e2c2083"
            ]
        ]
    },
    {
        "id": "33ab7a5e0dd9c494",
        "type": "mqtt-broker",
        "name": "TRAIHAN ",
        "broker": "9f2157c861a94427a60f119c9f7370e2.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "adc778f5e4243e3c",
        "type": "ui_group",
        "name": "Trang chủ ",
        "tab": "3ded662d6c0f8c11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ec2ba03680f8ac1",
        "type": "ui_group",
        "name": "Giám sát",
        "tab": "b3ebb942ecd579fc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ded662d6c0f8c11",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b3ebb942ecd579fc",
        "type": "ui_tab",
        "name": "Giám sát",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]